<!--フッターの作成-->
<div class="full-min-width hidden-print">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <h4>InsTrainey</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'はじめに', "" %></li>
          <li><%= link_to '会社概要', "" %></li>
          <li><%= link_to 'ヘルプ', "" %></li>
          <li><%= link_to 'English', "" %></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>リソース</h4>
        <ul class="list-unstyled">
          <li><%= link_to '人気の会員', "" %></li>
          <li><%= link_to '人気の筋トレ', "" %></li>
          <li><%= link_to '人気のコミュニティー', "" %></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>ポリシー</h4>
        <ul class="list-unstyled">
          <li><%= link_to '利用規約', "" %></li>
          <li><%= link_to 'プライバシーポリシー', "" %></li>
          <li><%= link_to 'セキュリティ', "" %></li>
          <li><%= link_to '特定商取引法に基づく表記', "" %></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>最新情報</h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-rss"></i><%= link_to ' ニュース', "" %></li>
          <li><i class="fa fa-facebook"></i><%= link_to ' Facebook', "" %></li>
          <li><i class="fa fa-twitter"></i><%= link_to ' Twitter', "" %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
