<!DOCTYPE html>
<html>
<head>

  <title><%= document_title %>></title>
  <meta charset="utf-8">
  <!--これはInternetExplorerのブラウザではバージョンによって崩れることがあるので、互換表示をさせないために設定するmetaタグです。-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--これはレスポンシブWebデザインを使うために必要なmetaタグです-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "customer", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>


</body>
</html>
